* {
   box-sizing: border-box;
}

html {
   height: 100%;
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: "Rubik", "Arial", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: #7F7F7F;
}

.container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}

img {
   max-width: 100%;
   height: auto;
}

/* Header starts */

.header__content {
   background-color: #F6F6F6;
   padding: 30px 0;
   margin-bottom: 30px;
}

.header__content-all {
   display: flex;
   align-items: center;
}

.header__logo {
   display: block;
   background-color: #fff;
   padding: 9px 6px;
   border-radius: 7px;
   margin-right: 35px;
}

.header__list {
   padding: 0;
   display: flex;
   list-style: none;
   column-gap: 25px;
   margin-right: auto;
}

.header__item-span {
   color: #2959CE;
   font-weight: 700;
   line-height: normal;
}

.header__item {
   color: #555;
   line-height: normal;
}

.header__form {
   margin-right: 28px;
}

.header__form-input {
   border: 0;
   padding: 15px 0 13px 41px;
   border-radius: 60px;
   color: #8D8D8D;
   font-size: 14px;
   line-height: normal;
}

.header__form-input:focus-visible {
   outline: none;
}

.header__lang-list {
   display: flex;
   align-items: center;
   list-style: none;
   background-color: #DCE6FF;
   padding: 3px 13px 3px 3px;
   border-radius: 39px;
   margin: 0 25px 0 0;
}

.header__lang-item {
   line-height: normal;
   color: #A6A6A6;
   font-size: 13px;
}

.header__lang-item:first-child {
   background-color: #fff;
   border-radius: 50%;
   color: #000;
   padding: 8px;
   margin-right: 8px;
}

.header__login {
   display: inline-block;
   color: #fff;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
   padding: 13px 20px;
   border-radius: 10px;
   background-color: #7296EC;
}

/* header-nav */

.header__nav {
   border-bottom: 1px solid #D1D1D1;
}

.header__nav-list {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.header__nav-link {
   display: block;
   text-decoration: none;
   color: #7F7F7F;
   font-size: 18px;
   font-weight: 500;
   line-height: normal;
}

.header__aside {
   margin-top: 40px;
   margin-bottom: 50px;
}

/* Header ends */

/* Main starts */

.main__content-top {
   display: flex;
   flex-wrap: wrap;
   column-gap: 10px;
   row-gap: 10px;
}

.main__top-card {
   display: flex;
   flex-direction: column;
   max-width: 393px;
   width: 100%;
   border-radius: 15px;
   background-color: #F6F6F6;
   padding: 20px 17px 15px;
}

.main__card-title {
   margin: 0;
}

.main__card-link {
   display: block;
   text-decoration: none;
   color: #000;
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   margin-bottom: 10px;
   transition: color 0.4s ease;
}

.main__card-link:hover {
   color: #7296EC;
}

.main__card-text {
   color: #4A4B4C;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   margin: 0 0 15px 0;
}

.main__card-img {
   display: block;
   margin: auto 0 15px 0;
}

.main__card-src {
   display: flex;
   align-items: center;
}

.main__src-img {
   display: block;
   margin-right: 10px;
}
.main__src-title {
   color: #5E5F61;
   font-size: 12px;
   line-height: normal;
}